.base-section--HIGHLIGHTED
{
    background: linear-gradient(#e3353d, #d3252f);
}

.base-section-content
{
    box-sizing: border-box;
    max-width: 1366px;
    margin: 0 auto;

    padding: 20px 35px;
}
.base-section__signature
{
    font-family: Intro Script;  font-size: 28px;  margin: 10px 0;
}
.base-section__caption{
    font-family: PlayfairDisplay-Bold; 
    text-align: center; 
    font-size: 30px; 
    margin: 0 auto;
    letter-spacing: 2px;
}

@media (min-width: 950px)
{
    .base-section__caption
    { 
        text-align: left; 
        font-size: 40px;
    }
    .base-section__signature
    {
        font-size: 46px;
    }
}
