body{
    background:#ffecea;
    
    font-family: Circe-Regular;
}

.page{
    position: relative;
    /* text-align: center; */
    min-width: 380px;
     margin:0 auto;
}


.restriction-box{
    max-width: 1366px;
    margin:0 auto;
}