.navigation-menu{
position: absolute;
top:0;
left: 0;
width: 100%;
display: none;
    text-align: center;
 background: #DADADA;
  
}
.menu__item{
    border-bottom: 1px solid #DADADA;
}
.menu {
/* display: none; */
   background:white;
   margin-top: 10px;
   
}
.menu__item-link {
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    color:grey;
    display: block;
}
