.titles-box__caption
{
    font-family: PlayfairDisplay-Bold;  font-size: 30px;  margin: 0 auto;     letter-spacing: 2px;
}
.titles-box__signature
{
    font-family: Intro Script;  font-size: 28px;  margin: 10px 0;
}
.titles-box--bg-red
{
    margin-bottom: 50px;  text-align: center;  color: white;
}
.titles-box--bg-pink
{
    text-align: center;  color: #3d3d3d;
}

@media (min-width: 950px)
{
    .titles-box__caption
    {
        font-size: 40px;
    }
    .titles-box--bg-red
    {
        text-align: right;
    }
    .titles-box--bg-pink
    {
        text-align: left;
    }
    .titles-box__signature
    {
        font-size: 46px;
    }
}
