.cake-element{
    position: relative;
    overflow: hidden;
    background: white;
    height: 200px;
    text-align: center;
}

.cake-element__title{
    font-size: 19px;
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 20px;
}
.cake-element__mini-title{
    font-size: 16px;
    margin-top: 5px;
    color:rgb(95, 95, 95);
}
.cake-element__picture{

    max-width:330px;
    position: relative;
    z-index: 2;
}
.grid__col-4-12 .cake-element:first-child {
    margin-bottom: 40px;
 }

 @media (min-width: 950px) {
    .cake-element {
        height: 290px;
    }
    .cake-element--singl {
        padding-top: 70px; 
        height: 550px;
    }
    .cake-element__picture {
        max-width:280px;
    }
    .cake-element--singl .cake-element__picture{

        max-width:460px;
    }

   

}