
.catalog-cakes{
    margin: 45px;
}

.catalog-cakes__item{
    /* position: relative;
    z-index: 1; */
    height: 600px;
}



[class^='item__picture']{
    padding: 10px;
   
    /* position: absolute;
    z-index: 2; */
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}
.item__picture-1{
    height: inherit;
    background-image: url(../img/cake-1.jpg);
    background-position: left 10px top -100px;
}
.item__picture-6{
    height: inherit;
    background-image: url(../img/cake-6.jpg);
    margin-top:50px;

    background-position: left 10px top 0px;
}

.item__picture-2, .item__picture-4{
    height: 45% ;
    margin-bottom: 36px;

}
.item__picture-2{
    background-image: url(../img/cake-2.jpg);
}
.item__picture-4{
    background-image: url(../img/cake-4.jpg);
    margin-top:50px;
    margin-left: 10px;
}
.item__picture-3, .item__picture-5{
    height: 45% ;
    background-position: right -30px bottom 0px;
}
.item__picture-3{
    background-image: url(../img/cake-3.jpg);
}
.item__picture-5{
    background-image: url(../img/cake-5.jpg);
    margin-left: 10px;
}


.item__signature--font-size{
    font-size: 19px;
    margin-left: 40px;
    /* position: absolute;
    z-index: 3; */
}
.item__mini-signature{
    font-size: 15px;
    margin-top: 5px;
    color:rgb(95, 95, 95);
}
@media (min-width: 320px) and (max-width: 480px) {
   
    .catalog-cakes__item{
        height: 120px;
    }
    .item__signature--font-size{
        margin-left: 20px;
        font-size: 17px;
    }
    .item__mini-signature{
        margin-top: 2px;

    }
    [class^='item__picture']{
    padding: 3px;
    box-sizing: border-box;
    background-position: left 15px top -55px;
    }
    .catalog-cakes__item--double{
        height: 240px;
    }
    .item__picture-2{
        margin: 10px 0;
        background-position: left 15px top -30px;
    
    }
    .item__picture-3{
        
        background-position: left 15px top -10px;
    
    }
    .item__picture-4{
        margin: 0 0 10px 0;
     
    
    }
    .item__picture-5{
        margin-left: 0px;
        background-position: left 15px top -35px;
    }
    .item__picture-6{
        margin-top: 0px;
    }
    .catalog-cakes{
    margin: 15px;
    }
}