.grid{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 10px; */
}
[class^='grid__col-']{
    box-sizing: border-box;
    padding:15px 20px;
}

@media (max-width: 950px) {
   
    div[class^='grid__col-']{
     
        flex-basis: 100%;
    }
}
.grid__col-8-12{
    flex-basis: 58.33%;
}
.grid__col-4-12{
    flex-basis: 41.66%;
}