.grid{
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 10px; */
}
[class^='grid__col-']{
    box-sizing: border-box;
    padding:15px 20px;
    flex-basis: 100%;
}

@media (min-width: 950px) {
   
    .grid__col-8-12{
        flex-basis: 58.33%;
    }
    .grid__col-4-12{
        flex-basis: 41.66%;
    }
}
