.order-information{
    background: #cc3333;
    color:white;
    padding-top:1px;
}
.section-text__caption--color{
    color:white;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 20px 0;
}