.section-text{

    background-image: url(../img/main-cake.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left -15px bottom 110px;
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    text-align: center;

}

.section-text__caption{
    font-family: PlayfairDisplay-Bold;
    letter-spacing: 5px;
    font-size: 50px;
margin:0 30px;
    color:#222222;

    text-align: center;
}
.section-text__signature{
    font-family: Intro Script;
    margin-top: 20px;
    font-size: 30px;
    color: #313131;
}


