.instruction-list{
    /* margin:0px 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    /* padding-top: 10px; */
}
.item__number{
    font-family: PlayfairDisplay-Bold;
    font-size: 60px;
    line-height: 1;
    magin-left: 10px;
    /* float: left; */
    /* margin:0 20px 40px; */
}
.instuction-list__item{
    margin-bottom: 20px;
}

.item__description--bold{
    margin: 8px 0;
    font-weight: bold;
}

@media (min-width: 950px) {
    .item__description{
        width: 400px;
        /* flex-grow: 2; */
        font-size: 21px;
        margin-left: 38px;
        margin-bottom: 23px;
    }
}