.instruction-list
{
    display: flex;  align-items: flex-end;  flex-direction: column;
}
.item__number
{
    font-family: PlayfairDisplay-Bold;  font-size: 43px;  line-height: 1.7;     float: left;  margin-right: 16px;
}
.instruction-list__item
{
    margin: 10px auto;
}
.item__description--bold
{
    font-weight: bold;  margin-bottom: 10px;
}
.item__description
{
    width: 295px;  text-align: left;
}
@media (min-width: 950px)
{
    .item__description
    {
        font-size: 21px;

        width: 300px;  margin-left: 55px;
    }

    .instruction-list__item
    {
        margin: 0 0 25px 0;
    }
    .item__number
    {
        font-size: 60px;  line-height: 1;
    }
}
