.order-section__delivery-conditions
{
    color: white;
}
.order-section-content
{
    padding: 39px 35px 290px;

    background-image: url(../img/order.jpg);  background-repeat: no-repeat;  background-position: right 50% top 400px;     background-size: 400px;
}

.order-section
{
    background: linear-gradient(#e3353d, #d3252f);
}
@media (min-width: 950px)
{
    .order-section-content
    {
        padding: 40px 60px 60px 0;  background-position: left -55px top -50px;  background-size: 800px;
    }
}
