.selection-button--width{
    width: 178px;
    font-size: 18px;
    height: 55px;
}
.block-for-feedback{
    display: flex;
    flex-direction: column;
   
}
.contact-section__button{
    margin: 20px 0px 30px;
    text-align: center;
}
@media (min-width: 950px) {
    
 .contact-section__button{
        margin: 58px 0 24px;
    }
    .block-for-feedback{
        
flex-direction: row;
        
flex-wrap: wrap;
    }
}