
.callback-form__item{
    margin: 5px ;
    height: 50px;
    width: 90%;
    border: none;
    padding: 0 10px;
}
.callback-form__item::placeholder{
    color:rgb(228, 227, 227);
    

}
.callback-form__item--highter{
    height: 100px;
    padding-top:10px;
}
.feedback-tools__callback-condition{
    font-size: 18px;
    text-align: left;
    /* width: 350px; */
    margin-bottom: 10px;
}
@media (min-width: 950px) {
   
    .feedback-tools__callback-condition{
  
font-size: 2;
  
width: auto;
  
font-size: 20px;
}
   
    .callback-form__item{
        margin: 5px 0px;
        background: none;
        width: 80%;
        border-bottom: 1px solid #cccccc;
        padding: 0px;
        /* box-sizing: border-box; */
    }
    .callback-form__item::placeholder{
        color:#cccccc;
        /* box-sizing: border-box; */
    }
    .callback-form__item--highter{
        height: 50px;
        /* padding:0px; */
    }

    
    
}