.footer-container-content{

padding: 40px 35px 10px;

display: flex;

flex-direction: column;


}
.footer-container{
    background: #999999;
}
.footer-container__navigation{
    margin: 40px 0 20px;
}

.footer-container__line{
    border: 1px solid #a3a3a3;
    width: 100%;
}
.footer-container__copy{
    font-size: 13px;
    margin: 10px auto;
    color:#b1b0b0;
}


.phone-number--white{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.footer-container__icon{
    margin:20px 0;
}
.footer-container__logo{
   width:100px;
}

@media (min-width: 950px) {

    
    .footer-container-content{
        background: none;
        align-items: center;
        padding: 40px 40px 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-container{
        background: #e8e8e8;
    }

    .footer-container__navigation{
        flex-grow: 2;
        margin: 0;
    }

    .footer-container__phone{
        display: none;
    }
    .footer-container__icon{
        margin: 0;
    }

    .footer-container__line{
        margin-top: 27px;
        border: 0.7px solid #c9c9c9;
    } 
 
}