.footer-container-wrapper{

padding: 40px 35px 10px;

display: flex;

flex-direction: column;

background: #999999;
}

.footer-container__navigation{
    margin-top: 40px;
}

.footer-container__phone{
    margin-top:10px;
}

.footer-container__line{
    border: 1px solid #a3a3a3;
    width: 100%;
}
.footer-container__copy{
    font-size: 13px;
    margin: 10px auto;
    color:#b1b0b0;
}

.logo--white{
    color:white;
    font-size: 35px;
}
.phone-number--white{
    text-decoration: none;
    cursor: pointer;
    color: white;
}



@media (min-width: 950px) {

   
    .footer-container-wrapper{
        background: none;
        align-items: center;
        padding: 40px 40px 4px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-container{
        background: #e8e8e8;
    }

    .footer-container__navigation{
        flex-grow: 99;
        margin: 0;
    }

    .footer-container__phone{
        display: none;
    }

    .footer-container__line{
        margin-top: 27px;
        border: 0.7px solid #c9c9c9;
    } 
        
    .logo--white{
        font-size: 27px;
        letter-spacing: 1.5px;
        line-height: 0;
        vertical-align: sub;
        color:rgb(51, 51, 51);
    }

  
}