.navigation-menu--display-block{
    display:block;
    position: static;
    text-align: left;
}
.menu--white{
    background: none;
}

.menu--white .menu__item{
    border:none;
}
.menu--white .menu__item .menu__item-link {
    padding: 9px 0px;
    text-decoration: none;
    cursor: pointer;
    color:white;
    display: block;
}

@media (min-width: 768px) {
   
    .menu--white .menu__item .menu__item-link {
        padding: 9px 0px;
        text-decoration: none;
        cursor: pointer;
        color:rgb(51, 51, 51);
        display: block;
    }
}