.list-with-icon{

    font-size: 19px;
    display: flex;
    flex-direction:column;
    text-align: left;

  
}
.list-with-icon__item{
    display: block;
    margin-top: 10px;
}
.item__icon{
    float: left;
    margin-right: 10px;
 
}
.item__signature{
color: rgb(29, 29, 29);
 margin-top:5px ;

}


