.hero-section{
background-image: url(../img/main-cake-2.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: left 0px bottom 450px;
padding: 150px 35px 180px;
/* padding-top: 30%;
     padding-left: 10%;
     padding-right:   */
text-align: center;
}

.hero-section__list{
    order:1;
    margin-top:20px;
}
.hero-section__caption{
    font-family: PlayfairDisplay-Bold;
    letter-spacing: 5px;
    font-size: 45px;
    width: 230px;
  
    margin:0 auto;
    color:#222222;
}
.hero-section__signature{
    font-family: Intro Script;
    font-size: 28px;
    margin: 20px 0;
    color: #313131;
}

.hero-section__button{
margin-top: 40px;
}

@media (min-width: 950px) {
    .hero-section-wrapper{
       
display: flex;
       
/* padding: 30% 35px 0; */
       
flex-direction: column;
    }
    .hero-section{
       background: url(../img/main-cake.png) 800px 0 no-repeat,                  url(../img/ilustr/strawb1.png) 580px 346px no-repeat,                  url(../img/ilustr/strawb2.png) 750px -31px no-repeat,                  url(../img/ilustr/flower.png) 690px 217px no-repeat;
       background-size: 900px, 250px, 190px, 150px;
       text-align: left;
 }
  
    .hero-section__caption{
        font-size: 70px;
        margin: 10px 0;
        width: 350px;
    }
    .hero-section__signature{
       font-size: 30px;
       /* display: block; */
       width: 300px;
    }
}