.hero-section{

background-image: url(../img/main-cake-2.png);

background-repeat: no-repeat;

background-size: 100%;

background-position: left 0px bottom 300px;

padding: 30% 35px 0;

/* padding-top: 30%;
     padding-left: 10%;
     padding-right:   */

text-align: center;
}
.hero-section__list{
    order:1;
    margin-top:20px;
}
.hero-section__caption{
    font-family: PlayfairDisplay-Bold;
    letter-spacing: 5px;
    font-size: 45px;
    width: 230px;
  
    margin:0 auto;
    color:#222222;
}
.hero-section__signature{
    font-family: Intro Script;
    font-size: 28px;
    margin: 20px 0;
    color: #313131;
}

.hero-section__button{
margin-top: 40px;
}

@media (min-width: 768px) {
   
    .hero-section{
       
background: url(../img/main-cake.png) 498px 0 no-repeat,                  url(../img/ilustr/strawb1.png) 332px 346px no-repeat,                  url(../img/ilustr/strawb2.png) 523px -31px no-repeat,                  url(../img/ilustr/flower.png) 427px 217px no-repeat;
       
background-size: 68%, 15%, 12%, 6%;
       
text-align: left;
       
display: flex;
       
flex-direction: column;
       
padding: 150px 40px 33%;
    }
  
    .hero-section__caption{
        font-size: 70px;
        margin: 10px 0;
        width: 350px;
    }
    .hero-section__signature{
       
font-size: 30px;
       

    }
}