.list-of-advantages{

    font-size: 19px;
    display: flex;
    flex-direction:column;
    text-align: left;

  
}
.list-of-advantages__advantag{
    display: block;
    margin-top: 10px;
}
.advantag__icon{
    float: left;
    margin-right: 10px;
 
}
.advantag__signature{
color: rgb(29, 29, 29);
 margin-top:5px ;

}

@media (min-width: 768px){
    .list-of-advantages{ padding-top:80px;
    }
}
