.header-container{
    background: white;
    padding: 35px 10px 20px 35px;
    display: flex;
    /* align-items: end; */
}
.header-container__navigation{
    font-family: Circe-Regular;
    /* width: 80%; */
    /* float: left; */
}
.header-container__logo{
    margin-right: 10px;
}

.header-container__phone{
    display: none;
}

@media (min-width: 950px) {
    .header-container{
        background:none;
        align-items: flex-end;
        padding: 35px 10px 20px 35px;
    }
    .header-container__phone{
        display: block;
        flex-grow: 1;
    }
}