
.menu
{
    display: flex;  flex-direction: column;  background: white;
}

.menu__item
{
    border-bottom: 1px solid #dadada;
}

.menu__item-link
{
    display: block;  padding: 20px;  cursor: pointer;  text-decoration: none;  color: grey;
}



.menu--highlighter
{
    text-align: left;  background: none;
}

.menu--highlighter .menu__item
{
    border: none;
}


.menu--highlighter .menu__item .menu__item-link
{
    padding: 9px 0;  color: white;
}

@media (max-width: 950px){
    .menu__item:hover
    {
    background: rgb(223, 221, 221);
    }
    .menu__item:active
    {
    background: rgb(189, 187, 187);
    }
    .menu__item:hover .menu__item-link
    {
        color: white;
    }
}
@media (min-width: 950px)
{
    .menu__item:active .menu__item-link
    {
        color:rgba(207, 0, 0, 0.863);
    }
    .menu
    {
        flex-direction: row;  background: none;
    }
    .menu--highlighter
    {
        justify-content: space-around;         max-width: 800px;
        margin: 0 auto;
    }

    .menu--highlighter .menu__item .menu__item-link
    {
        font-size: 16px;

        padding: 0;  text-transform: inherit;  color: rgb(51, 51, 51);
    }
    .menu__item
    {
        border: none;
    }

    .menu__item-link
    {
        font-size: 11px;
        line-height: initial;

        padding: 0 15px;

        text-transform: uppercase;

        color: rgb(29, 28, 28);
    }
}
