.navigation-box{
    display:block;
    font-size: 1em; 
}

.navigation-box__button{
    border: none;
    background: white;
    float: left;
   position: relative;
   left: 95%;
}

.navigation-box:hover .navigation-box__navigation-menu{
display: block;
}

@media (min-width: 768px) and (max-width: 1281px){
    .navigation-box{
        display:block;
        font-size: 1em; 
    }
    
    .navigation-box__button{
        display: none;
    }
}

.navigation-box__navigation-menu{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: none;
    text-align: center;
      
    }
    .menu__item{
        border-bottom: 1px solid #DADADA;
    }
    .menu {
       background:white;
       margin-top: 10px;
       
    }
    .menu__item-link {
        padding: 20px;
        text-decoration: none;
        cursor: pointer;
        color:grey;
        display: block;
    }
    
    @media (min-width: 768px) and (max-width: 1281px){
        .navigation-box__navigation-menu{
            position: relative;
         display: inline;
        }
        .menu__item{
            border-bottom:none;
            float: left;
            font-size: 13px;
        }
        .menu {
            background:none;
    
        }
        .menu__item-link {
            padding: 20px;
            text-decoration: none;
            cursor: pointer;
            color:grey;
            display: block;
        }
        
    }