.header-container__navigation{
  flex-grow: 1;
}
.navigation-box__button{
    border: none;
    background: white;
    font-size: 20px;
}

.navigation-box:hover .navigation-box__navigation-menu{
    display: block;
    text-align: center;
}

.navigation-box__navigation-menu{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: none;
    text-align: center;
}
.navigation-box{
    display: flex;
    justify-content: flex-end;
    line-height: 2;
}

@media (min-width: 950px){
    .navigation-box__navigation-menu{
    position: relative;
    display: block;
    }

    .navigation-box__button{
        display: none;
    }
    
}
