.phone-number
{
    font-size: 17px;  cursor: pointer;  text-decoration: none;  color: rgb(44, 44, 44);
}
.phone-number:active{
    color: rgb(243, 237, 237);
}
.phone-number--white
{
    color: white;
}

@media (min-width: 950px)
{
    .phone-number--bg-none
    {
        font-size: 12px;
    }
    .phone-number:active{
        color: rgb(161, 159, 159);
    }
}
