.cake-element
{
    position: relative;  overflow: hidden;  height: 200px;  text-align: center;     background: white;
}

.cake-element__title
{
    font-size: 19px;  position: absolute;  z-index: 3;  top: 16px;  left: 20px;
}
.cake-element__mini-title
{
    font-size: 16px;  margin-top: 5px;  text-align: left;  color: rgb(95, 95, 95);
}
.cake-element__picture
{
    position: relative;  z-index: 2;  max-width: 300px;
}
.grid__col-4-12 .cake-element:first-child
{
    margin-bottom: 40px;
}

@media (min-width: 950px)
{
    .cake-element
    {
        height: 290px;
    }
    .cake-element--singl
    {
        height: 550px;  padding-top: 70px;
    }
    .cake-element__picture
    {
        max-width: 280px;
    }
    .cake-element--singl .cake-element__picture
    {
        max-width: 460px;
    }
}
