.base-button
{
    font-size: 17px;
    width: 290px;
    height: 70px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background: #ec1a44;
}
.base-button:active{
background: #a71230;
color: #d8d5d5;
}
.base-button--form
{
    font-size: 18px;
    width: 178px;
    height: 55px;
    text-transform: inherit;
}
@media (min-width: 950px)
{
    .base-button
    {
        font-size: 13px;
        width: 200px;
        cursor: pointer;
        height: 50px;
       
    }
}
