
.contact-section .contact-section__caption{
    color: #3d3d3d;
 
}
.contact-section .contact-section__feedback-tools{
  margin-top:10px;
}

@media (min-width: 950px)
{
    .contact-section .contact-section__feedback-tools{
    margin-top: 15px;
    }
    .contact-section .contact-section__content
    {
        padding: 40px 35px 300px;
        background-image: url(../img/strawb.png);
        background-repeat: no-repeat;
        background-position: left 350px bottom -15px;
        background-size: 950px;
    }
}
