.grid
{    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flexbox-wrap: wrap; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid [class^='grid__col-']
{
    flex-basis: 100%;
    box-sizing:border-box;
}
.grid .grid__row{
    margin-bottom: 40px;
}
.grid .grid__row:last-child{
    margin-bottom: 0px;
}
@media screen and (min-width: 950px)
{
    .grid{
        flex-wrap: nowrap;
    }
      
    .grid.grid--catalog{
        margin-bottom: 40px;
    }


    .grid [class^='grid__col-']
    {
        padding-right: 20px;
    }
    .grid.grid--catalog [class^='grid__col-']
    {
        padding-right: 40px;
    }
    .grid [class^='grid__col-']:last-child
    {
        padding-right: 0px;
    }

    .grid.grid--catalog:last-child{
        margin-bottom: 0px;
    
    }
    .grid .grid__col-5-12
    {
        flex-basis: 41.66%;
    }
    .grid .grid__col-6-12
    {
        flex-basis: 50%;
    }
    .grid .grid__col-7-12
    {
        flex-basis: 58.33%;  
    }
  

    .grid.grid--catalog:not(.grid--catalog:last-child){
        margin: 0px 0px 40px;
    }
   
    
}
