.grid
{   
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flexbox-wrap: wrap; 
}

[class^='grid__col-']
{
    flex-basis: 100%; 
    box-sizing: border-box;  

}

@media screen and (min-width: 950px)
{
    .grid__col-4-12
    {
        flex-basis: 37.66%;
    }
    .grid__col-6-12
    {
        flex-basis: 50%;
    }
    .grid__col-8-12
    {
        flex-basis: 58.33%;  
    }

}
