.header
{
    background: white;
}
.header .header__content
{
    display: flex;
    align-items: flex-end;
}

.header .header__navigation-container
{
    flex-grow: 1;
}

.header .header__logo-container
{
    margin-right: 15px;
}

.header .header__navigation-container
{
    font-family: Circe-Regular;
}

.header .header__phone-container
{
    display: none;
}

@media (min-width: 950px)
{
    .header
    {
        align-items: flex-end;

        padding: 35px 0 20px 0;

        background: none;
    }
    .header__phone-container
    {
        display: block;
        flex-grow: 0;
    }
}
