.header
{
    background: #ffffff;
}
.header .header__content
{
    display: flex;
    align-items: flex-end;
}

.header .header__navigation-container
{
    flex-grow: 1;
}

.header .header__logo-container
{
    margin-right: 15px;
}


.header .header__phone-container
{
    display: none;
}

@media (min-width: 950px)
{
    .header
    {
        padding: 35px 0 20px 0;
        background: none;
    }
    .header .header__phone-container
    {
        display: block;
    }
}
