.hero-section .hero-section__content
{
    padding: 150px 35px 20px;
    text-align: center;
    background-image: url(../img/main-cake-2.png);
    background-repeat: no-repeat;
    background-position: left 0 bottom 300px;
    background-size: 100%;
}
.hero-section .hero-section__caption
{
    font-family: PlayfairDisplay-Bold;  font-size: 45px;  width: 230px;  margin: 0 auto;  letter-spacing: 5px;  color: #222;
}
.hero-section .hero-section__signature
{
    font-family: Intro Script;
    font-size: 28px;
    margin: 20px 0;
    color: #313131;
}
.hero-section .hero-section__list
{
    order: 1;
width: 320px;
    margin: 20px auto;
}

.hero-section .hero-section__button-container
{
    margin-top: 40px;
}

@media (min-width: 950px)
{
    .hero-section .hero-section__content
    {
        display: flex;
        flex-direction: column;
        padding: 150px 45% 180px 36px;
        text-align: left;
        background: url(../img/main-cake.png) left 550px top 0 no-repeat,
        url(../img/ilustr/strawb1.png) left 350px top 346px no-repeat,
        url(../img/ilustr/strawb2.png) left 530px top -36px no-repeat,
        url(../img/ilustr/flower.png) left 460px top 210px no-repeat;
        background-size: 850px, 200px, 140px, 110px;
    }

    .hero-section .hero-section__caption
    {
        font-size: 70px;
        width: 290px;
        margin: 10px 0;
    }
    .hero-section .hero-section__list
    {
        width: 483px;
        margin: 150px 0 0 0;
    }
    .hero-section .hero-section__signature
    {
        font-size: 30px;
        /* width: 300px; */
    }
}
