.instruction-list
{
    counter-reset:li;
    list-style:none;
}

.instruction-list .instruction-list__item
{
    margin: 0 auto 20px;
}
.instruction-list .instruction-list__item:last-child
{
    margin: 0 auto;
}
.instruction-list .instruction-list__item::before{
    content:counter(li); 
    counter-increment:li; 
    float: left;
    font-family: PlayfairDisplay-Bold;
    font-size: 45px;
    line-height: 1;
}


 

@media (min-width: 950px)
{

    .instruction-list .instruction-list__item::before
    {
        font-size: 63px;
    }
}
