.list-of-advantages
{
    font-size: 19px;  display: flex;  flex-direction: column;  text-align: left;
}
.list-of-advantages .list-of-advantages__advantag
{
    margin-top: 10px;
    
}
.list-of-advantages__advantag .advantag__icon
{
    float: left;  width: 51px;  margin-right: 10px;
}
.list-of-advantages__advantag .advantag__signature
{
    margin-top: 15px;  color: #1d1d1d;
}

@media (min-width: 950px)
{
    .list-of-advantages
    {
        display: flex;
        flex-direction: row;
    }
    .list-of-advantages .list-of-advantages__advantag
    {
        margin: 0;
        flex-basis: 45%;
    }
    .list-of-advantages__advantag .advantag__icon
    {
        float: left;
        width: 45px;
        margin-right: 7px;
    }
    .list-of-advantages__advantag .advantag__signature
    {
        font-size: 15px;
        font-weight: bold;
        line-height: 17px;
        margin-top: 5px;
    }
}
