.logo
{
    font-size: 25px;
    text-decoration: none;
    color: #272727;
    line-height: 1.23;
    display: inline-block;
    vertical-align: bottom;
    font-family: PlayfairDisplay-Bold;
}
.logo:active{
color: #808080;
}
.logo--lighter
{
    font-size: 40px;  color: #ffffff;
}

@media (min-width: 950px)
{
    .logo--lighter
    {
        font-size: 27px;  letter-spacing: 1.5px;  color: #333333;
    }
}
