
.menu
{
    display: flex; 
    flex-direction: column; 
    background: #ffffff;
}

.menu .menu__item
{
    border-bottom: 1px solid #dadada;
  
}

.menu .menu__item-link
{
    display: block; 
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #808080;
}

.menu--highlighted
{
    text-align: left;
    background: none;
}

.menu--highlighted .menu__item
{
    border: none;

}
.menu--highlighted .menu__item .menu__item-link
    {
        font-size: 20px;
        text-transform: inherit;
        padding: 13px 0;
        color: #ffffff;
    }

@media (min-width: 950px)
{
    .menu
    {
        flex-direction: row; 
        background: none;
    }
    .menu .menu__item
    {
        border: none;
    }
    .menu .menu__item-link
    {
        font-size: 11px;
        line-height: initial;

        padding: 0 15px;

        text-transform: uppercase;

        color: #1d1c1c;
    }
   
    .menu__item .menu__item-link:active 
    {
        color:#cf0000dc;
    }
    .menu--highlighted
    {
        justify-content: space-around;
        max-width: 800px;
        margin: 0 auto;
    }

    .menu--highlighted .menu__item .menu__item-link
    {
        font-size: 16px;
        padding: 0;
        text-transform: inherit;
        color: rgb(51, 51, 51);
    }
   
}
