.navigation-box
{
    display: flex;
    justify-content: flex-end;
}
.navigation-box .navigation-box__button-hamburger
{
    font-size: 20px;  border: none;  background: #ffffff;
}

.navigation-box .navigation-box__navigation-menu
{
    position: absolute;  top: 0;  left: 0;  display: none;  width: 100%;  text-align: center;
}

.navigation-box:hover .navigation-box__navigation-menu
{
    display: block;  text-align: center;
}



@media (min-width: 950px)
{
    .navigation-box .navigation-box__navigation-menu
    {
        position: relative;
        display: block;
    }

    .navigation-box .navigation-box__button-hamburger
    {
        display: none;
    }
}
