.order-section .order-section__delivery-conditions
{
    color: #ffffff;
    margin: 0 auto;
    max-width: 310px;
}

.order-section .order-section__content
{
    padding: 40px 35px 290px;
    background-image: url(../img/order.jpg);
    background-repeat: no-repeat;
    background-position: right 50% top 400px;
    background-size: 400px;
}


.order-section .order-section__caption
{
    margin-bottom: 20px;
    color: #ffffff;
}


@media (min-width: 950px)
{
    .order-section .order-section__content
    {
        padding: 80px 35px 100px 585px;
        background-position: left -65px bottom -165px;
        background-size: 800px;
    }
    .order-section .order-section__delivery-conditions
{
  max-width: 360px;
}
  
    .order-section .order-section__caption
    {
         width: 350px;
         margin: 0 auto 30px;
    }
}
